html{
    
    font-family: monospace;


}
body{
    background-color:black;
    margin:0px;
}


#navbar>p>a{  
    font-size: 1.5vw;
    text-decoration: none;
    color:red;
    font-weight: normal;
    /* text-shadow: 1px 1px blue; */
    text-shadow:2px 2px blue;  

}
#navbar>p{ 
    padding:4px;
    background-color:black;
    border-radius:10px;
    width: fit-content;
    margin:auto;
    border-left:2px solid red;
    border-right:2px solid red;
        
}
#main{
    font-size: 2.5vw !important;
    background-color:rgb(252, 252, 252);
    border-radius: 10px;

}
span{
    color:red;
}

#contact{
    background-color: red;
    text-align: center;
    width:fit-content;
    margin: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
#contact>a{
    
    font-size:2vw ;
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px blue;
    
}
